<div class="best-seller__wrapper">
    <img class="best-seller__left-image" src="{{ section.settings.image_one | img_url: ''}}" alt="boy-lifting" loading="lazy" />

    <div class="best-seller__content">
        <img class="best-seller__right-image" src="{{ section.settings.image_two | img_url: ''}}" alt="boy-jumping" loading="lazy" />
        <span class="best-seller__title">{{ section.settings.title | escape }}</span>
        <h2 class="best-seller__sub-title">{{ section.settings.sub_title | escape }}</h2>
        <p class="best-seller__description">{{ section.settings.paragraph | escape }}</p>
        <a 
            class="best-seller__button"
            {% if section.settings.button_link == blank %} 
                role="link" aria-disabled="true" 
            {% else %}
                href="{{ section.settings.button_link }}" 
            {% endif %}
        >
            {{ section.settings.button | escape }}
        </a>
</div>

{% schema %}
    {
        "name": "Best Seller",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_one",
                "label": "First Image"
            },
            {
                "type": "image_picker",
                "id": "image_two",
                "label": "Second Image"
            },
            {
                "type": "text",
                "id": "title",
                "default": "Best Seller",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "sub_title",
                "default": "TRULY, AN ALL IN ONE BARBELL",
                "label": "Sub Title"
            },
            {
                "type": "text",
                "id": "paragraph",
                "default": "Design that matches the performance and quality of other elite level competition bars",
                "label": "Paragraph"
            },
            {   
                "type": "text",
                "id": "button",
                "default": "SHOP WEIGHTS",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "presets": [{
            "name": "Best Seller"
        }]
    }
{% endschema %}