{{ 'section-best-seller.css' | asset_url | stylesheet_tag }}

<div class="best-seller">
    <img src="{{ section.settings.image_one | img_url: ''}}" alt="boy-lifting" loading="lazy" />

    <div class="more-info">
        <img src="{{ section.settings.image_two | img_url: ''}}" alt="boy-jumping" loading="lazy" />
        <span>{{ section.settings.title | escape }}</span>
        <h2>{{ section.settings.sub_title | escape }}</h2>
        <p>{{ section.settings.paragraph | escape }}</p>
        <a {% if section.settings.button_link==blank %} role="link" aria-disabled="true" {% else %}
            href="{{ section.settings.button_link }}" {% endif %}>{{ section.settings.button | escape }}</a>
</div>

{% schema %}
    {
        "name": "Best Seller",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_one",
                "label": "First Image"
            },
            {
                "type": "image_picker",
                "id": "image_two",
                "label": "Second Image"
            },
            {
                "type": "text",
                "id": "title",
                "default": "Best Seller",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "sub_title",
                "default": "TRULY, AN ALL IN ONE BARBELL",
                "label": "Sub Title"
            },
            {
                "type": "text",
                "id": "paragraph",
                "default": "Design that matches the performance and quality of other elite level competition bars",
                "label": "Paragraph"
            },
            {   
                "type": "text",
                "id": "button",
                "default": "SHOP WEIGHTS",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ],
        "presets": [{
            "name": "Best Seller"
        }]
    }
{% endschema %}