<footer class="footer">
    <span class="footer__icon-af">{% render 'icon-af' %}</span>

    <div class="footer__news-letter-block">
        <p class="footer__title">{{ 'general.footer.news-letter-title' | t }}</p>
        
        <div class="news-letter__form">
            {% form 'customer' %}
                <input name="contact[tags]" type="hidden" value="newsletter" />
                <input class="news-letter__form-input" placeholder="Enter your email" type="email" name="contact[email]" />
                <button class="news-letter__form-button" type="submit" name="commit">
                    {% render 'icon-arrow-black' %}
                </button>
            {% endform %}
        </div>

        <div class="news-letter__form-social-media-icons">
            {%- if section.settings.facebook_url != blank -%}
                <a href="{{ section.settings.facebook_url }}" >
                    {% render 'icon-facebook' %}
                </a>
            {%- endif -%}
            {%- if section.settings.instagram_url != blank -%}
                <a href="{{ section.settings.instagram_url }}" >
                    {% render 'icon-instagram' %}
                </a>
            {%- endif -%}
            {%- if section.settings.email != blank -%}
                <a href="{{ section.settings.email }}" >
                    {% render 'icon-mail' %}
                </a>
            {%- endif -%}  
        </div>  
    </div>

    <div class="footer__nav-links-wrapper">
        <p class="footer__title">{{ 'general.footer.nav-links-title' | t }}</p>
        <div class="footer__nav-links-list">
            {% for link in linklists.main-menu.links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                    [{% for childlink in linklists[child_list_handle].links %}
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    {% endfor %}]
                {% else %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <p class="footer__copyright-info">{{ 'general.footer.copyright' | t }}</p>
</footer>


{% schema %}
    {
        "name": "Footer",
        "settings": [
            {
                    "type": "url",
                    "id": "facebook_url",
                    "label": "Facebook URL"
            },
            {
                    "type": "url",
                    "id": "instagram_url",
                    "label": "Instagram URL"
            },
            {
                    "type": "url",
                    "id": "email",
                    "label": "Mail"
            }
        ],
        "presets": [{
            "name": "Footer",
            "category": "Text"
        }]
    }
{% endschema %}