{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div class="image-banner">
    <img 
        class="hero-img" 
        src="{{ section.settings.image | img_url: '1920x1080'}}" 
        alt="image-banner"
        loadin="lazy"
    />
    <div class="content">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.paragraph }}</p>
        <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true" {% else %} href="{{ section.settings.button_link }}" {% endif %} class="button outline">
            {{ section.settings.button }} {% render 'icon-arrow-white' %}
        </a>       
    </div>
</div>

{% schema %}
{
    "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Picture"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "Team barbell",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "paragraph",
            "default": "Team Barbell was to design a piece of equipment that matches the performance and quality of other elite level competition bars.",
            "label": "Paragraph"
        },
        {
            "type": "text",
            "id": "button",
            "default": "Explore",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
    ],
    "presets": [{
        "name": "Image Banner"
    }]
}
{% endschema %}