<div class="image-banner-wrapper">
    <img 
        class="banner__hero-img" 
        src="{{ section.settings.image | img_url: '1920x1080'}}" 
        alt="image-banner"
        loading="lazy"
    />
    <div class="banner__content">
        <h2 class="banner__title">{{ section.settings.heading }}</h2>
        <p class="banner__description">{{ section.settings.paragraph }}</p>
        <a 
            {% if section.settings.button_link == blank %} 
                role="link" aria-disabled="true" 
            {% else %} 
                href="{{ section.settings.button_link }}" 
            {% endif %} 
            class="banner__button banner__button--outline"
        >
            {{ section.settings.button }} 
            {% render 'icon-arrow-white' %}
        </a>       
    </div>
</div>

{% schema %}
{
    "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background Picture"
        },
        {
            "type": "text",
            "id": "heading",
            "default": "Team barbell",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "paragraph",
            "default": "Team Barbell was to design a piece of equipment that matches the performance and quality of other elite level competition bars.",
            "label": "Paragraph"
        },
        {
            "type": "text",
            "id": "button",
            "default": "Explore",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
    ],
    "presets": [{
        "name": "Image Banner"
    }]
}
{% endschema %}