{{ "cart.css" | asset_url |  stylesheet_tag }}

{% if cart.item_count > 0 %}
<div class="cart__wrapper">
	<div class="cart">
		<div class="cart__header">
			<p class="cart_title">My Cart</p>
			<span>{% render "icon-x" %}</span>
		</div>
		<div class="cart__items-list">
			{% for item in cart.items %}
				<div class="cart__item">
					<figure class="item__image-block">
						<img class="item__image" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
					</figure>
					<div class="item__detail">
						<a class="item__title" href="{{ item.url }}">{{ item.title }}</a>
						<p class="item__variant">{{ item.variant.title }}</p>
						<p class="item__price">{{ item.price | money }}</p>
						<div class="item__change-quantity">
							<span class="item__minus-icon">{% render "icon-minus" %}</span>
							<span class="item__quantity">{{ item.quantity }}</span>
							<span class="item__plus-icon">{% render "icon-plus" %}</span>
							<input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" hidden>
						</div>
						<span class="item__remove">{% render "icon-remove" %}</span>
					</div>
				</div>
			{% endfor %}
		</div>
		<form action="/cart" method="post" novalidate class="form">
			<div class="form__sub-total">
				<span>Sub total</span>
				<span>{{ cart.total_price | money }}</span>
			</div>
			<p class="form__shipping-info">Tax and shipping calculates at checkout.</p>
			<button class="form__button" type="submit" name="checkout">Continue to Checkout</button>
			</div>
		</form>
</div>

{% else %}
	<h2>Cart is empty</h2>
{% endif %}