<script>
    const currentProductId = "{{ product.id }}";
</script>

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product__wrapper">
    <div class="product_featuerd-image-block">
        <img class="product__featured-image" src="{{ featured_image | img_url: 'large' }}"
            alt="{{ featured_image.alt | escape }}">
    </div>

    <div class="product__detail">
        <h1 class="product__title">{{ product.title }}</h1>
        <p class="product__price">{{ current_variant.price | money }}</p>
        <div class="product__stars">
            {% for star in (1..product.metafields.accentuate.stars) %}
            {% render "icon-star" %}
            {% endfor %}
        </div>
        <p class="product__description">{{ product.description }}</p>

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="product__form">
            <ul class="product__variants-list">
                {% for variant in product.variants %}
                <li class="product__variants-list-item">
                    <input type="radio" name="product-{{product.id}}-variant" onclick="onVariantChange(this)"
                        id="variant-{{ variant.id }}" value="{{ variant.id }}" {% if variant.available==false %}
                        disabled {% endif %} class="product__variant-select-radio" />
                    <label for="variant-{{ variant.id }}" {% if variant.available==false %}
                        class="product__variant-label product__variant-label_sold-out" {% else %}
                        class="product__variant-label" {% endif %}>
                        {{ variant.title }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            {% if product.metafields.accentuate.free_shipping %}
            <p class="product__free-shipping-available">Available for Free shipping!</p>
            {% endif %}

            <select name="id" id="main-product-selector" class="product__master-selector">
                {% for variant in product.variants %}
                {% if variant.available %}
                <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
                {% else %}
                <option disabled="disabled">
                    {{ variant.title }} - sold out
                </option>
                {% endif %}
                {% endfor %}
            </select>
            <button class="product__form-submit-button" onclick="addProductToCart()" type="button" name="add"
                id="AddToCart">Add to cart</button>
        </form>

        <div class="freq-bought-products">
            <h2 class="freq-bought-products__title">Frequently bought with</h2>

            <div class="freq-bought-products__list">
                {% assign freq_bought_products = product.metafields.accentuate.freq_bought_with_products | split: '|' %}
                {% for freq_bought_product in freq_bought_products %}
                <div class="freq-bought-products__list-item">
                    <img class="freq-bought-products__list-item-img"
                        src="{{ all_products[freq_bought_product].featured_image.src | img_url: 'small' }}"
                        alt="{{ all_products[freq_bought_product].featured_image.alt | escape }}" loading="lazy">
                    <div>
                        <p class="freq_bought_products__list-item-title">{{ all_products[freq_bought_product].title }}
                        </p>
                        <a class="freq_bought_products__list-item-add-to-cart-button" href="#">Add to cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for presentation_text in product.metafields.accentuate.presentation_text %}
<div class="product__presentation">
    <div class="product__presentation-text">
        {{ presentation_text.html }}
    </div>

    {% assign presentaion_image = product.metafields.accentuate.presentation_image[forloop.index0] | first %}
    <figure class="product__presentation-image-block">
        <img src="{{ presentaion_image.src }}" alt="{{ presentaion_image.alt }}" class="product__presentation-image"
            width="480" height="460" />
    </figure>

    <div class="vertical-lines">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
{% endfor %}


<div class="related-products__wrapper">
    <h2>You might also like</h2>
    <div class="related-products__list"></div>
</div>

<div class="ajax-cart__wrapper">
    <div class="ajax-cart__content">

    </div>
</div>